################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Anus engine
/.vs/PythonSettings.json
/.vs/slnx.sqlite
/__pycache__
*.sqlite-journal
/__pycache__/Addition.cpython-311.pyc
/__pycache__/PyProject.cpython-311.pyc
